/*                                      Main Container*/
.main-container {
    margin: 1rem 0.2rem;
    width: cal(100% - 0.6rem);
    height: 25%;
    padding: 0.5rem;
}

/*                                         Warning */
.warning-td {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
}

.fa-warning,
.warning-text {
    width: auto;
    height: 100%;
    margin: 0 0.5rem;
}

.fa-warning {
    color: #ffeb3b;
}

/*                                          Titles */
.full-width {
    color: #fff;
    justify-content: center;
    font-family: "Quicksand", sans-serif;
}
.full-width h4 {
    font-size: 20pt;
}
/*                                  Calls on Queue */
#container-calls-onQueue {
    width: calc(50% - 2rem);
}

/*                                      Table */
.table td,
.table th {
    padding: 0.2rem;
    font-size: 11pt;
    font-family: "quicksand";
}
.table th {
    font-weight: 500;
}
.table-body-container {
    height: 130px;
    overflow: scroll;
}
.table {
    margin: 0;
}
.table-dark thead tr th {
    background-color: #3c4147;
}
.table-dark {
    background-color: #212529;
}
/*                                              Image user */

.img {
    width: 30px;
    border-radius: 30px;
}
/* td agent */
.td-agent {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* Hourly totals table */

#tbody-hourly-totals tr td,
#tbody-active-calls tr td {
    padding-left: 0.8rem;
    width: calc(100% / 7);
}
.table tr th {
    padding-left: 0.1rem;
    width: calc(100% / 7);
}
.table-container {
    background: gray;
    width: calc(100% - 2rem);
    margin: 1rem;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
    background: #3c4147;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #212529;
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6f767d;
}
